*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family:'helvetica neue';

}
html,
body{
  background-color:#a69999;
}

.card{
  margin:10px;
  width:200px;
  border:1px solid black;
  padding:20px;
  text-align:center;
  border-radius:10px;
  background-color:#876f6f
}
.parent{
  padding:20px;
  display:flex;
  flex-wrap:wrap;
}
.card p{
  margin:20px 0;
}
.card button{
  padding:10px 20px;
  background-color:white;
  color:black;
  border:none;
  border-radius:5px;

}
.card img{
  height:140px;
  width:140px;
  object-fit:cover;
  border-radius:50%;
}