* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Root settings */
html,
body {
  width: 100%;
  height: 100%;
  background-color:black;
  color:white;
}

h1{
  position:absolute;
  left:50%;
  top:50%;
  font-size:50px;
  text-decoration:underline;
  transform:translate(-50%,-50%)
}
.nav{
    padding: 18px;
    display:flex;
    justify-content:space-between;
    background-color:rgb(34, 6, 49);
    
}
.nav div{
  display:flex;
  gap:40px;
  align-items:center;
 
}
.nav div a{
 color:white;
 text-decoration:none;
}